<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="logo">
            <img src="https://tse4.explicit.bing.net/th?id=OIP.ADkQWD72VXiVncwFziPFewHaHa&pid=Api&P=0&w=173&h=173" alt="">
            <input type="Text" placeholder="Tìm Kiếm Trên Facebook">
            <i class='bx bx-search'></i>
            <div class="history">
                <i class='bx bx-left-arrow-alt'></i>
            </div>
        </div>
        <div class="Nabar">
            <ul>
                <li><a href=""><i class='bx bxs-home'></i><span style="margin-left:-20px ;">Trang Chủ</span></a></li>
                <li><a href=""><i class='bx bxs-videos'></i><span>Watch</span></a></li>
                <li><a href=""><i class='bx bxs-store'></i><span style="margin-left:-20px ;">Marketplace</span></a></li>
                <li><a href=""><i class='bx bxs-group'></i><span>Group</span></a></li>
                <li><a href=""><i class='bx bxl-steam'></i><span>Game</span></a></li>
            </ul>
        </div>
        <div class="right_bard">
            <div class="profile">
                <button><span style="left:-20px;width: 80px;">Menu</span><i class='bx bxs-grid'></i></button>
            </div>

            <div class="profile">
                <button><span style="left:-30px;  width: 120px;">Messager</span><i class='bx bxl-messenger' ></i></button>
            </div>
            <div class="profile">
                <button><span style="left:-30px; width: 120px;">Thông Báo</span><i class='bx bxs-bell-ring' ></i></button>
            </div>
            <div class="profile">
                <button><span style="left:-80px;  width: 160px;">Trang Cá Nhân Của Bạn</span><img src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/272198409_1619110371767746_4096674624787439678_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=jjUC4y0LsYMAX9sARXS&_nc_ht=scontent.fhan14-2.fna&oh=00_AT_xW-TEBjIWlQkeT8oeejAYlUjGdkXHs1ffshNzKtpvXA&oe=62DAE28B" alt=""></button>
            </div>

        </div>
    </nav>

</body>

</html>