
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div>
      <div class="addfirend"></div>
      <div class="brithday"></div>
      <div> <span>Người liên hệ</span>
      </div>

    <div class="listfriend" *ngFor="let i of list">
        <img src="{{i.url}}" alt="">
        <span style="margin-left: 15px;">{{i.name}}</span>
    </div>

    </div>
</body>
</html>