<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="tree_lisfriend" >
        <div class="action">
          <button (click)="close()"><i class='bx bx-x'></i></button>
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png" alt="">
        </div>
        <hr>
       <div class="list_friend" *ngFor="let i of list" (click)="showStory(i)" >
       
        <img src="{{i.url}}" alt="">
        <span>{{i.name}}</span>
      </div>
  </div>
  <div class="view_story">
    <button (click)="prevew()"><i class='bx bx-chevron-left' ></i></button>
       <div class="image"  style="background-size: cover; background-image: url({{friend.url}});border-radius: 15px; ">
        <div class="time"></div>
          <div class="friend">
              <img src="{{friend.url}}" alt="">
              <span style="color:#fff;">{{friend.name}}</span>
          </div>
       </div>
    <button (click)="next()"><i class='bx bx-chevron-right'></i></button>
  </div>
</body>
</html>