<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="post">
        <div class="post_input">
            <img src="https://scontent.fhan2-2.fna.fbcdn.net/v/t39.30808-6/272198409_1619110371767746_4096674624787439678_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=inN59Zqsg_sAX-RUFvU&_nc_ht=scontent.fhan2-2.fna&oh=00_AT9Z5YLPnHEvzH8Escv99Wp_G-h2xUdFd8j9MdieeCrxmA&oe=62D4F3CB"
                alt="">
            <input type="text" placeholder="Tùng ơi, bạn đang nghĩ gì thế?">
        </div>
        <div class="post_action">
            <ul>
                <li><i class='bx bxs-video' style="color: rgb(217, 67, 67);"></i><span>Video trực tiếp</span></li>
                <li><i class='bx bxs-landscape' style="color: green;"></i><span>Anh/Video</span></li>
                <li><i class='bx bx-happy-alt' style="color: rgb(227, 187, 68);"></i><span>Cảm xúc/hoạt động</span></li>
            </ul>
        </div>
    </div>
    <div class="post_active">

    </div>
    <div class="post_from">
        <div class="post_header"></div>
    </div>
</body>

</html>