* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

.post {
    position: relative;
    margin-top: 3%;
    width: 100%;
    border-radius: 15px;
    border: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 13%;
}

.post_input {
    display: flex;
    margin: 10px 20px;
    align-items: center;
}

.post_input input {
    display: flex;
    height: 40px;
    width: 88%;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #bfc8d6;
    margin: 10px;
    text-indent: 3%;
    font-weight: 600;
}

.post_input img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.post_action ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.post_action ul li {
    display: flex;
    align-items: center;
    margin: 10px 10px;
    padding: 0 10px;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
}

.post_action ul li {
    list-style: none;
}

.post_action ul li i {
    font-size: 30px;
}

.post_action ul li span {
    padding: 0px 10px;
    line-height: 40px;
}

.post_action ul li:hover {
    background-color: #cfdfed;
    transition: 0.5s;
}

.post_active {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(244, 239, 235, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
}

.post_from {
    position: relative;
    height: 400px;
    width: 600px;
    border: 5px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.post_header{
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
   align-items: center;
   height: 50px;
}
.post_header >h2{
   margin: 0 auto;
}
.post_header >button{
    position: relative;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    background-color: #b7c1d2;
    font-size: 35px;
    cursor: pointer;
 }
 .post_header >button i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
 }
 .profile{
    display:flex;
    align-items: center;
    width: 100%;
 }
.name_privacy{
    display: flex;
    flex-direction: column;
}
.name_privacy span{
    font-weight: bold;
}
.name_privacy button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 5px 2px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}
.name_privacy button i{
    font-size: 18px;
}
.inputbody {
    height: 30%;
    width: 100%;
}
.inputbody >textarea{
    width: 90%;
    min-height: 100%;
    border: none;
    outline: none;
    text-indent: 5%;
    padding: 10px 5%;
    resize: none;
    overflow: hidden;
    font-size: 25px;
}
.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.icon i{
    font-size: 25px;
}
.icon button{
    height: 35px;
    width: 35px;
    color: white;
    background: radial-gradient(rgb(225, 130, 130),rgb(234, 206, 155),rgb(172, 227, 172),rgb(201, 201, 227),rgb(234, 210, 235),pink);
    font-weight: bold;
    border: none;
    border-radius: 10px;
}
