body {
    height: 100vh;
    width: 100%;
}

.story {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.image {
    position: relative;
    height: 30%;
    width: 18%;
    border-radius: 15px;
}

.imageMain {
    position: relative;
    height: 30%;
    width: 18%;
    border-radius: 15px;
    border: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.imageMain img {
    position: absolute;
    height: 75%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.imageMain .name {
    position: absolute;
    top: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
}

.imageMain .name button {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid white;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
}

.imageMain .name button i {
    position: absolute;
    font-size: 50px;
    color: #1876f2;
    top: -5px;
    left: -5px;
}

.imageMain .name span {
    position: absolute;
    font-weight: bold;
    width: 100%;
    text-align: center;
    bottom: -5px;
}

.image img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.avartar {
    position: absolute;
    height: 50px;
    width: 50px;
    border: 5px solid rgb(19, 103, 230);
    top: 10px;
    left: 10px;
    border-radius: 50%;
}

.avartar img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.image span {
    width: 100%;
    font-size: 18;
    position: absolute;
    color: aliceblue;
    font-weight: bold;
    bottom: 10px;
    text-align: center;
}

.image :hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}