<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="story" >
        <div class="imageMain">
            <img src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/272198409_1619110371767746_4096674624787439678_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=jjUC4y0LsYMAX9sARXS&_nc_ht=scontent.fhan14-2.fna&oh=00_AT_xW-TEBjIWlQkeT8oeejAYlUjGdkXHs1ffshNzKtpvXA&oe=62DAE28B"
                alt="">
            <div class="avartar"> <img src="http://localhost:4200/Facebook_Theme/cloneAPIFacebook/src/app/pickture/avt.jpg"
                    alt="">
            </div>
            <div class="name">
                <button><i class='bx bxs-plus-circle'></i></button>
                <span>Tạo tin</span>
            </div>
        </div>
        <div class="image" *ngFor="let i of list" (click)="showStory()">
            <img src="{{i.url_story}}"
                alt="">
            <div class="avartar"> <img src="{{i.url_avt}}" alt=""></div>
            <span>{{i.name}}</span>
        </div>
    </div>
    <div class="viewstory" *ngIf="showSoty">
        <app-viewstory (closestr)="close()"></app-viewstory>
    </div>
    <div class="action">
        <app-Post class="action"></app-Post>
    </div>
    <div class="status">
        <app-Status></app-Status>
    </div>
</body>

</html>